#goblins-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.goblin {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
    align-items: center;
    width: 300px;
    margin: 25px;
}

.goblin img {
    width: 100%;
    margin-bottom: 50px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 0%;
    font-weight: bold;
}