#goblins-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goblin {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50%;
    align-items: center;
    width: 200px;
    margin: 25px;
}

.goblin img {
    width: 100%;
    margin-bottom: 50px;
}

.goblin h2 {
    display: flex;
    flex-wrap: wrap;
}

.goblin p {
    margin: 0%;
    font-weight: bold;
}

#landscape-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landscape {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    margin: 50px;
    font-weight: 700;
}

.landscape img {
    width: 100%;
    border-radius: 50%;
    /* border: solid black; */
}